/***************************************************************************************************************************
***********************************************Welcome section**************************************************************
***************************************************************************************************************************/
.about-container {
  height: 91vh;
  padding: 9vh 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}

#about {
    /* background: var(--primary-color); */
    /* background: radial-gradient(var(--secondary-color), var(--blue-gradient)); */
    color: var(--secondary-color);
    order: 2;
    display: flex;
    flex-direction: column;
      justify-content: center; /* horizontal center */
      align-items: center; /* vertical center */
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  
  #about h1, #about p {
    color: var(--main-white);
  }
  #about p {
    font-style: italic;
    font-size: 2.5rem;
    animation-duration: 2s;
    animation-delay: .4s;
    margin-bottom: 40px;
  }

  #picture-container {
    display: flex;
    height: 150px;
    width: 200px;
    margin: 45px 0 15px;
  }

  #picture-container img {
    border-color: var(--secondary-color);
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
  }
  
  
  #download-icon {
      /* color:  var(--secondary-color); */
      color: var(--main-white);
      padding-right: 5px;
  }
  
  #resume_link {
      display: flex;
      -webkit-align-items: center;
              align-items: center;
      -webkit-justify-content: center;
              justify-content: center;
  }
  .resume_btn {
      font-size: 1.5rem;
      -webkit-border-radius: 10px;
              border-radius: 10px;
      padding: 10px;
      font-family: inherit;
      /* -webkit-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2); */
              box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
      background-color: initial;
      /* color: var(--secondary-color); */
      color: var(--main-white);
      border-color: var(--main-white);
      border-style: solid;
      cursor: pointer;
  }
@media (min-height: 640px) {
  #about p {
    margin-bottom: 120px;
  }
}
@media (min-height: 730px) {
  #about p {
    margin-bottom: 150px;
  }
}
@media (min-height: 810px) {
  
}        
/* @media (min-width: 768px) {
  .about-container {
    flex-direction: row;
  }
  #picture-container {
    width: 100%;
    height: 100%;
    margin-left: -20px;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
  }
  #picture-container img {
    width: 400px;
    height: 300px;
  }
  #about p {
    margin-bottom: 200px;
  }
} */