.styled-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--blue-gradient);
    /* height: 100vh; */
    text-align: left;
    padding-top: 40px;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    transform: translateY(-100%);
  }